{% extends "bases/base.html" %}
{% block title %}<title>{% if PAGE_TITLE is defined %}{{ PAGE_TITLE }}{% else %}Login{% endif %}</title>{% endblock %}
{% block styles %}{% endblock %}
{% block scritps %}
<script>
    const VALIDITY_MESSAGE = `{% if VALIDITY_MESSAGE is defined %}{{ VALIDITY_MESSAGE }}{% endif %}`;
    const VALIDITY_CODE = `{% if VALIDITY_CODE is defined %}{{ VALIDITY_CODE }}{% endif %}`;
</script>
{{ from_script("js/accounts.js") }}
{% endblock %}
{% block body %}
    <div>
        <h1>Login</h1>
        <form
            {% if SUBMISSION_ACTION %}
            action="{{ SUBMISSION_ACTION }}"
            {% else %}
            action="{{ url_for(request.endpoint, **request.args) }}"
            {% endif %}
            method="post"
        >
            <p><label>Email</label></p>
            <p><input name="email" type="email" value="{{ request.args.get('email', '') }}" required/></p>
            <p><label>Password</label></p>
            <p><input name="password" type="password" required/></p>
            <p><button type="submit">Login</button></p>
        </form>
    </div>
{% endblock %}