{% include "bases/base.html" %}
{% block title %}<title>{% if PAGE_TITLE is defined %}{{ PAGE_TITLE }}{% else %}Login{% endif %}</title>{% endblock %}
{% block styles %}{% endblock %}
{% block scritps %}{% endblock %}
{% block body %}
    <h1>Slot Missing</h1>
    <p>
        You must have a slot reserved to create an account. If you need to create an account, or if you were supposed to have a slot, then
        {% if CONTACT is defined %}
        {{ CONTACT|safe }}
        {% else %}
        contact your Scouting App Provider
        {% endif %}.
    </p>
{% endblock %}