<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="manifest" href="/manifest.json" />
        {% block title %}{% endblock %}
        {{ from_style("css/base.css") }}
        {% block styles %}{% endblock %}
        {{ from_script("js/register_sw.js") }}
        {{ from_script("js/base.js") }}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
