{% extends "bases/base.html" %}

{% block title %}{% endblock %}

{% block styles %}
{% include "videoplayer.preload.html" %}
{{ from_style("css/videoplayer.css") }}
{{ from_style("css/inputsystem.css") }}
{{ from_style("css/match.css") }}
{% block extrastyles %}
{% endblock %}
{% endblock %}

{% block scripts %}
{{ from_script("js/videoplayer.js") }}
{{ from_script("js/inputsystem.js") }}
{{ from_script("js/match.js") }}

{% block extrascripts %}
{% endblock %}
{% endblock %}

{% block body %}
<div class="body-content">
    <div class="video-container">
        <div id="videoView" class="video-view">
        </div>
        <div class="video-controls">
        </div>
    </div>
    <div class="input-content">
        {% block inputs %}
        {% endblock %}
    </div>
    <script>
        inputSystem.root = document.querySelector(".input-content");
    </script>
</div>
{% endblock %}
