<link rel="prefetch" href="/static/icon/videoplayer/pause.png" />
<link rel="prefetch" href="/static/icon/videoplayer/play.png" />
<link rel="prefetch" href="/static/icon/videoplayer/replay.png" />
<link rel="prefetch" href="/static/icon/videoplayer/volume_mute.png" />
<link rel="prefetch" href="/static/icon/videoplayer/volume.png" />
<link rel="prefetch" href="/static/icon/videoplayer/options.png" />
<link rel="prefetch" href="/static/icon/videoplayer/speed.png" />
<link rel="prefetch" href="/static/icon/videoplayer/download.png" />